#cnca-content {
  display: flex;
  gap: 60px;
  padding: 0 20px 80px;
  flex-direction: column;
}

#cnca-content main {
  flex: 5;
  line-height: 1.5;
  font-size: 18px;
}

#cnca-content main h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 24px;
}

#cnca-content a {
  color: var(--link-color);
  font-weight: 500;
}

#cnca-content a:hover {
  color: var(--secondary-color);
}

#cnca-content aside {
  flex: 2;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

#cnca-content aside .cnca-widget form#cnca-search input {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}

#cnca-content aside ul.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 0;
  padding-left: 16px;
}

#cnca-content aside .cnca-widget .tribe-events,
#cnca-content aside .cnca-widget .tribe-common-l-container {
  padding: 0 !important;
}

@media screen and (min-width: 768px) {
  #cnca-content {
    flex-direction: row;
    padding: 0 60px 80px;
  }
}
