#cnca-primary-navigation {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;
  position: sticky;
  top: 0;
  z-index: 9999;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul {
    display: none;
    flex-direction: column;

    a {
      display: block;
      padding: 15px;
      transition: all 0.5s ease;
    }

    li:hover > a,
    li.current-menu-item > a {
      background-color: var(--secondary-color);
    }

    ul a {
      display: block;
      font-size: 13px;
      padding: 12px;
    }

    > li.menu-item-has-children > a::after {
      content: "▼";
      display: inline-block;
      font-size: 12px;
      margin: -4px 0 0 8px;
      transform: translateY(-2px);
    }

    a {
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  label {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 30px;
    span {
      background: white;
      display: block;
      height: 3px;
      margin: 5px 0;
      transition: 0.3s ease;
    }
  }

  #cnca-menu-toggle {
    display: none;
    &:checked {
      ~ label span {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
      ~ ul.menu {
        display: flex;
      }
    }
  }
}

body.admin-bar #cnca-primary-navigation {
  top: 32px;
}

@media screen and (max-width: 782px) {
  body.admin-bar #cnca-primary-navigation {
    position: static;
  }
}

#cnca-logo {
  display: flex;
  justify-content: center;
  position: relative;

  svg {
    bottom: 50%;
    color: var(--primary-color);
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    background-color: white;
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    width: 94px;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  #cnca-primary-navigation {
    padding: 0;

    label {
      display: none;
    }

    > ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      ul {
        display: none;
      }

      ul a {
        font-size: 14px;
        padding: 15px;
        text-align: left;
      }

      > li:hover > ul {
        background-color: var(--primary-color);
        border-radius: 0 0 12px 12px;
        box-shadow: 8px 8px 0 0 #cccccc66;
        display: block;
        overflow: hidden;
        position: absolute;

        > li:last-child > a {
          padding-bottom: 18px;
        }
      }
    }
  }

  #cnca-logo {
    padding: 16px 0;
    img {
      width: 188px;
    }
  }
}
